<mat-card class="container">
  <h1>Registration Form</h1>
  <form class="example-form container" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    {{ userForm.value | json }}
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" value="" name="name" [(ngModel)]="userModel.name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" value="" name="email" [(ngModel)]="userModel.email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput placeholder="Telephone" name="phone" [(ngModel)]="userModel.phone">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="userModel.password">
    </mat-form-field>
    <button id="submitButton" type="submit" mat-button>Submit</button>
  </form>
</mat-card>